[core]

[PrepareWorkingDirectories]
stateFolder = /state
productLocation = /basket

[SubmitJobs]
stateFolder = /state
productLocation = /basket
templateFolder = ./processCedaArchive/templates
templateFilename = cloudmasking.sbatch